body {
    background-color: whitesmoke;
}

img {
    width: 210px;
    border-radius: 200px;
}

.botoesDasPizzas {
    position: relative;
    right: 120px;
    bottom: 3px;
    border-radius: 50px;
    border: black solid 0px;
    width: 35px;
    height: 35px;
    color: white;
    background-color: rgb(115, 115, 240);
}

.botoesDasPizzas:hover {
    background-color: blue;
}

.descricao-das-pizzas {
    position: relative;
    bottom: 20px;
    left: 80px;
    font-size: 15px;
}

.preco {
    position: relative;
    left: 90px;
    margin-top: 2px;
    font-size: 15px;
}

#lista-de-pizzas {
    margin: auto;
}

.pizzas {
    display: inline-block;
    margin-left: 100px;
    margin-top: 10px;
}

/* modal:

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-left: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-content img, div {
    display: inline-block;
  }
  
  .modal-content img {
    width: 300px;
  }

  .tamanhos {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }